
<html>
    <head>
        <title>Yang's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 16. 11. 2019, 14:03</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo qual. こんにちは！ 今日はいい天気ですね！</p>
        </div>
        
        <div>
            <p>公開日：2019/11/16, 14:04</p>
            <h2><a href="">My Second post</a></h2>
            <p>こんにちは！よろしくお願いします！</p>
        </div>
    </body>
</html>